#design-by {
  position: relative;
  top: -200px;
}

#design-by .design-container {
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 5px;
}

#design-by .design-container .bg-container {
  position: relative;
  background: #6066F2;
  overflow: hidden;
  padding: 45px;
}

#design-by .design-container:after {
  content: "";
  display: table;
  clear: both;
}

#design-by .design-container .bg-image {
  position: absolute;
  width: 650px;
  z-index: 1;
  opacity: .3;
  right: -240px;
  top: -100px;
}

#design-by .design-container .info-section {
  width: 40%;
  display: inline-block;
  float: left;
}

#design-by .design-container .info-section h5 {
  color: #FEA83B;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section h3 {
  color: white;
  font-size: 2.7rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list {
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list li {
  list-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 14.5px;
  vertical-align: top;
}

#design-by .design-container .info-section .info-list .circle {
  background: #FEA83B;
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

#design-by .design-container .info-section .info-list .circle .fas {
  position: absolute;
  top: 6px;
  left: 5px;
}

#design-by .design-container .info-section .white-btn {
  background: white;
  border-radius: 50px;
  padding: 20px 65px;
  text-decoration: none;
  color: #6066F2;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

#design-by .design-container .icon-section {
  width: 60%;
  background: white;
  display: inline-block;
  float: left;
  position: relative;
}

#design-by .design-container .icon-section .refresh-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  left: 45%;
  top: 40%;
}

#design-by .design-container .icon-section .refresh-circle .fas {
  position: relative;
  color: #FEA83B;
  font-size: 2.5rem;
  top: 20px;
  left: 20px;
}

#design-by .design-container .icon-section .icon-box {
  width: 50%;
  height: 226px;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #F4F5F7;
  color: #6066F2;
  font-size: 1.3rem;
}

#design-by .design-container .icon-section .icon-box .fas, #design-by .design-container .icon-section .icon-box .far {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 61px;
}


/*LAPTOPS DEVICES */
@media only screen and (max-width: 1215px) {

}
/*TABLETS DEVICES */
@media only screen and (max-width: 1023px) {
  #design-by .design-container .icon-section .refresh-circle{
    left: 44%;
  }
}
@media only screen and (max-width: 833px) {
  #design-by .design-container .icon-section .refresh-circle{
    left: 41%;
  }
}
/*MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #design-by .design-container .info-section {
    width: 100%;

}
#design-by .design-container .icon-section {
    width: 100%;
}
#design-by .design-container .icon-section .refresh-circle{
  display: none;
}
#design-by .design-container .bg-container {
    padding: 20px;
}
#design-by .design-container .info-section .info-list li {
    line-height: 2;
  }
}
